version: 1.0.{build}

init:
  # Set "build version number" to "short-commit-hash" or when tagged to "tag name" (Travis style)
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
        Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))"
      }
      else
      {
        Update-AppveyorBuild -Version "dev-$($env:APPVEYOR_REPO_COMMIT.substring(0,7))"
      }

build_script:
  - pushd DigTest & nuget restore & popd
  - '"C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe" DigTest\DigTest.sln /p:Configuration=Release /fl /t:Rebuild /m'
  - python -m pip install requests==2.18.4
  - python Dig\tab-src\surrogate-modeling\build.py
  - nuget install -Version 3.11.0 WiX
  - set PATH=%PATH%;%CD%\WiX.3.11.0\tools
  - python deploy\build_msi.py

cache:
 - 'Dig\tab-src\surrogate-modeling\node_modules -> Dig\tab-src\surrogate-modeling\package.json, Dig\tab-src\surrogate-modeling\build.py'
 - 'DigTest\nuget -> DigTest\packages.config'

test_script:
  - DigTest\bin\Release\DigTest.exe <nul

artifacts:
  - path: "*.log"
  - path: "deploy/openmeta-visualizer_x64.msi"

deploy:
  provider: GitHub
  description: Build $(appveyor_build_version)
  auth_token:
    secure: 6VBqhqRkH4gpHcpYuxZhQaPLADwm42FvZuthealLpMAZxp994R7hNhHkqW7e8tYI
  artifact: deploy/openmeta-visualizer_x64.msi
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true        # deploy on tag push only
